APP_NAME=Careminate
APP_ENV=develoment
APP_DEBUG=true  # true for dev, false for prod 
APP_URL=http://localhost

REDIRECT_PRESERVE_RELATIVE=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=careminate
DB_USERNAME=root
DB_PASSWORD=
